<!DOCTYPE HTML>
<html>
{% include "parts/header.html.jinja2" %}

<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		{% include "parts/menu.html.jinja2" %}

		<!-- Main -->
		<div id="main">

			<!-- One -->
			<section id="one">
				<div class="inner">
					<header class="major">
						<h2>Natation</h2>
					</header>
					<p>Les cours de natation ont lieu à la piscine de SCHILTIGHEIM.</p>
					<p>Chaque trimestre, une vérification des acquis est effectuée avec les enfants afin d'évaluer
						leur progression et pour répondre au mieux aux attentes des parents.</p>
					<p>Nous possédons l'agrément ENF1 (Ecole de Natation Française) permettant l'attribution du
						"Sauv'Nage (ENF1)" pour les enfants désirant obtenir cette certification.</p>
					<p>Depuis la rentrée 2016, nous proposons la préparation au "Pass'sports de l'eau (ENF2)" qui
						est la prochaine étape d'acquisition permettant de découvrir d'autres pratiques sportives en
						milieu aquatique et de capitaliser des habiletés motrices.</p>


					<div class="flexslider">
						<ul class="slides">
							<li>
								<img src="images/kitchen_adventurer_cheesecake_brownie.jpg" />
								<p class="flex-caption">Adventurer Cheesecake Brownie</p>
							</li>
							<li>
								<img src="images/kitchen_adventurer_lemon.jpg" />
							</li>
							<li>
								<img src="images/kitchen_adventurer_donut.jpg" />
							</li>
							<li>
								<img src="images/kitchen_adventurer_caramel.jpg" />
							</li>
						</ul>
					</div>


				</div>
			</section>


			<section id="two">
				<div class="inner">
					<header class="major">
						<h2>Horaires</h2>
					</header>
					<table cellpadding="10" width="400px" id="creneau_natation">
						<tbody>
							<thead>
								<tr>
									<th colspan="3">Perfectionnement : Adultes, Adolescents et Enfants</th>
								</tr>
							</thead>
							<tr>
								<td><span>Lundi (1)</span></td>
								<td>
									<p>17h30 à 18h30 (3)</p>
									<p>18h30 à 19h30 (2)</p>
								</td>
								<td>Grand Bassin</td>
							</tr>

							<tr>
								<td><span>Mercredi</span></td>
								<td>
									<p>17h30 à 18h15 (3)</p>
									<p>18h15 à 19h00 (3)</p>
								</td>
								<td>Grand Bassin
								</td>
							</tr>
							<tr>
								<td><span>Samedi</span>
								</td>
								<td>
									<p>12h00 à 13h00 (3)</p>
									<p>13h00 à 14h00 (4)</p>
								</td>
								<td>Grand
									Bassin
								</td>
							</tr>
						</tbody>
					</table>
					<p>
						(1) créneau (ligne 50m)<br />
						(2) créneau supplémentaire Perf. Adulte<br />
						(3) créneau Enfant et Ado.<br />
						(4) créneau uniquement Adulte<br />
					</p>
					<br />

					<table cellpadding="10" width="400px" id="creneau_natation">
						<tbody>
							<thead>
								<tr>
									<th colspan="3">Aqua-Santé : Initiation-Adultes Débutants</th>
								</tr>
							</thead>
							<tr>
								<td><span>Mercredi</span></td>
								<td style="font-family: arial; font-size: 12pt;">19h00 à 20h00</td>
								<td style="font-family: arial; font-size: 12pt;">Petit Bassin</td>
								</td>
							</tr>
						</tbody>
					</table>
					<br /><br />

					<table cellpadding="10" width="400px">
						<tbody>
							<thead>
								<tr>
									<th colspan="3">Ecole de natation Enfants</th>
								</tr>
							</thead>
							<tr>
								<td><span>Mercredi</span>
								</td>
								<td>
									<p>17h30 à 18h15</p>
									<p>18h15 à 19h00</p>
								</td>
								<td>Petit Bassin</td>
							</tr>
							<tr>
								<td><span>Samedi</span>
								</td>
								<td>
									<p>12h00 à 13h00 </p>
									<p>13h00 à 14h00 </p>
								</td>
								<td>Petit Bassin</td>
							</tr>
						</tbody>
					</table>

					<strong>Important : les cours ont lieu uniquement pendant les périodes scolaires et l'âge minimun
						d'inscription est de 6 ans.</strong>

				</div>
			</section>
			{% include "parts/footer.html.jinja2" %}
		</div>
		{% include "parts/scripts.html.jinja2" %}
	</div>
</body>

</html>