<!DOCTYPE HTML>
<html>
{% include "parts/header.html.jinja2" %}

<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

        {% include "parts/menu.html.jinja2" %}

        <!-- Main -->
        <div id="main">

            <!-- One -->
            <section id="one">
                <div class="inner">
                    <header class="major">
                        <h2>Activité Plongeon</h2>
                    </header>
                    <p>Suite à la décision de la ville du mois de septembre 2021, l'activité est suspendue.
                        Pour toute information complémentaire, vous pouvez passer par le formulaire de <a
                            href="contact.html">contact</a>
                    </p>
                </div>
            </section>
        </div>

        {% include "parts/footer.html.jinja2" %}
    </div>
    {% include "parts/scripts.html.jinja2" %}
    </div>

</body>

</html>