<!DOCTYPE HTML>
<html>
{% include "parts/header.html.jinja2" %}

<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

        {% include "parts/menu.html.jinja2" %}
        <!-- Main -->
        <div id="main">

            <!-- One -->
            <section id="one">
                <div class="inner">
                    <header class="major">
                        <h2>Activité Trampoline</h2>
                    </header>


                    <div>
                        <p>
                            Le <strong>trampoline</strong> est un sport lié à la <strong>Fédération Française de
                                Gymnastique</strong>. Il est
                            accessible, ludique, artistique et complet, autant <strong>mentalement</strong> que
                            <strong>physiquement</strong>.
                        </p>

                        <p>A partir de septembre 2023, la section souhaite créer une véritable école de trampoline
                            avec des bilans de compétences et des fiches individuelles pédagogiques de progression.
                        </p>

                        <p>
                            L’activité trampoline proposée par l’ASCS est accès sur une pratique loisir. Le
                            <strong>volet ludique</strong> est mis en avant.
                        </p>

                        <p>Les pratiquants trouveront le plaisir de voler, de réaliser des figures, de se maîtriser
                            dans l'espace, sous la vigilance d’entraineurs diplômés et accéderont progressivement à
                            des acquis. </p>

                        <p>Les débutants commenceront par des figures tels que la chandelle, le saut groupé ou bien
                            le tomber assis.</p>
                        <p>La complexité augmente avec l'expérience du trampoliniste.</p>
                        <p> Ils pourront effectuer, en partant d'une position debout, assise, sur le ventre ou bien
                            sur le dos et se réceptionner dans les mêmes positions.</p>
                        <p> Ensuite ils pourront combiner des figures plus complexes qui prennent la forme de
                            combinaisons multiples (saltos, vrilles, etc).
                        </p>

                        <p>Il y a deux créneaux d'entrainements par semaine, le lundi et le vendredi, composés de
                            trois groupes de niveaux différents :<br />
                        <ul>
                            <li>
                                <<strong>Cigales</span> : &nbsp;&nbsp;Débutant
                            </li><br />
                            <li>
                                <<strong>Ecureuil</span> : &nbsp;Maitrise de plusieurs sauts et
                                    bonne stabilisation à la réception
                            </li><br />
                            <li>
                                <<strong>Capucins</span> : Maitriser le saut périlleux avant et
                                    arrière
                            </li>
                        </ul>
                        </p>

                        <table align="center" border="1" cellpadding="10" width="400px" id="creneau_trampoline">
                            <tbody>
                                <tr>
                                    <td colspan="3"
                                        style="padding:5; font-family: verdana,geneva; font-weight:bold; font-size:140%; background:#5DC9E1; color:#fff; text-align:center; vertical-align:middle;">
                                        <p>Horaires des cours de trampoline</p>
                                    </td>
                                </tr>

                                <tr style="text-align:center;">
                                    <td><span class="style_p">Lundi</span></td>
                                    <td class="style_p">
                                        18h30 à 20h
                                    </td>
                                    <td class="style_p">Gymnase Wilson</td>
                                </tr>

                                <tr style="text-align:center;">
                                    <td><span class="style_p">Vendredi</span></td>
                                    <td class="style_p">
                                        18h00 à 20h
                                    </td>
                                    <td class="style_p">Gymnase Wilson</td>
                                </tr>
                            </tbody>
                        </table>

                        <br />

                        <div id="materiel_trampo">
                            <ul class="no_margin">L'association sportive dispose d'un <strong>matériel de qualité
                                    :</strong>
                                <li>1 trampoline de haut-niveau Ultimate (toile 4x4);</li>
                                <li>1 trampoline de haut-niveau GrandMaster (toile 4x5);</li>
                                <li>2 trampolines de compétition GrandMaster (toile 6x6);</li>
                        </div>
                        <br />
                        <p>Les cours ont lieu au Gymnase Wilson situé au :
                        <ul>
                            <li> 3 Boulevard du Président-Wilson 67000 Strasbourg,</li>
                            <li>à côté du parking Indigo Strasbourg Wodli,</li>
                            <li>à 100 m de la gare.</li>
                            </p>






                            <br />

                            <a href="files/Reglement-Trampoline.pdf" class="fa-pdf">règlement intérieur</a>

                    </div>
            </section>


            {% include "parts/footer.html.jinja2" %}
        </div>
        {% include "parts/scripts.html.jinja2" %}
    </div>
</body>

</html>