<!-- Banner -->
<section id="banner" class="major">
    <div class="inner">
        <header class="major">
            <h1>{{context.data.website_title}}</h1>
            <h2>Association Sportive des Cheminots de Strasbourg</h2>
        </header>
        <div class="content">
            <div>
                <h2>Historique</h2>
                <p>L'activité Natation est uniquement enseignée dans un but d'apprentissage et de
                    perfectionnement
                    et non dans un objectif de compétition. Cependant, nous organisons la préparation du
                    "Pass'compétition Natation Course" permettant l'accès à la compétition.
                </p>

                <p>Depuis quelques années déjà, les sections Plongeon et Trampoline sont venues compléter notre
                    activité principale et ce grâce à l’impulsion de son président actuel M. Roger COMBEAU.
                    L'enseignement de ces 2 nouvelles activités va de l'initiation à la compétition.</p>
                <ul class="actions">
                    <li><a href="#one" class="button next scrolly">Get Started</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>