<!DOCTYPE HTML>
<html>
{% include "parts/header.html.jinja2" %}

<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

        {% include "parts/menu.html.jinja2" %}
        <!-- Main -->
        <div id="main">

            {% include "parts/contact.html.jinja2" %}
            {% include "parts/footer.html.jinja2" %}
        </div>
        {% include "parts/scripts.html.jinja2" %}
    </div>
</body>

</html>