<!-- Contact -->
<section id="contact">
	<div class="inner">
		<section class="contact_form">
			<form method="post" action="#" id="demo-form">
				<div class="fields">
					<div class="field half">
						<label for="name">Name</label>
						<input type="text" name="name" id="name" pattern="[a-zA-Z ]"
							title="plz enter only name characters" />
					</div>
					<div class="field half">
						<label for="email">Email</label>
						<input type="text" name="email" id="email" pattern="[a-z]{3,}@[a-z]{3,}&bsol;.[a-z]{2,}"
							title="plz enter valid email" />
					</div>
					<div class="field">
						<label for="message">Message</label>
						<textarea name="message" id="message" rows="6"></textarea>
					</div>
				</div>
				<ul class="actions">
				<li><button type="button" class="g-recaptcha" data-sitekey="6LcZvuMpAAAAAMq9PQHsi5UhbJIljJoVU3pHJqR1" data-callback='onSubmit' data-action='submit'>Submit</button></li>
					<li><input type="reset" value="Clear" /></li>
				</ul>
			</form>
		</section>
		<section class="split">
			<section>
				<div class="contact-method">
					<span class="icon solid alt fa-envelope"></span>
					<h3>Mail</h3>
					<a href="#">information@untitled.tld</a>
				</div>
			</section>
			<section>
				<div class="contact-method">
					<span class="icon solid alt fa-phone"></span>
					<h3>Téléphone</h3>
					M. Roger COMBEAU:
					<span>+33 6 75 40 62 45</span>
				</div>
			</section>
			<section>
				<div class="contact-method">
					<span class="icon solid alt fa-home"></span>
					<h3>Adresse</h3>
					<span>1234 Somewhere Road #5432<br />
						Nashville, TN 00000<br />
						United States of America</span>
				</div>
			</section>
		</section>
	</div>
</section>