<head>
	<title>{{website_title}}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="/r/assets/css/main.css" />
	<link rel="stylesheet" href="/r/assets/css/ascs.css" />
	<noscript>
		<link rel="stylesheet" href="/r/assets/css/noscript.css" />
	</noscript>
	<link rel="stylesheet" href="/r/assets/css/flexslider.css" type="text/css" media="screen" />
</head>