{# Scripts #}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
{#
<script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.min.js">\x3C/script>')</script> #}

{#
<script src="/r/assets/js/jquery.min.js"></script> #}
<script src="/r/assets/js/jquery.scrolly.min.js"></script>
<script src="/r/assets/js/jquery.scrollex.min.js"></script>
<script src="/r/assets/js/browser.min.js"></script>
<script src="/r/assets/js/breakpoints.min.js"></script>
<script src="/r/assets/js/util.js"></script>
<script src="/r/assets/js/main.js"></script>


<!-- FlexSlider -->
<script defer src="/r/assets/js/jquery.flexslider.js"></script>
<script src="https://www.google.com/recaptcha/api.js"></script>


<script type="text/javascript">
    $(window).load(function () {
        $('.flexslider').flexslider({
            animation: "slide",
            start: function (slider) {
                $('body').removeClass('loading');
            }
        });
    });
</script>

 <script>
   function onSubmit(token) {
     document.getElementById("demo-form").submit();
   }
 </script>